<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/b1.jpg')">
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                    </div>
                    <h1 class="presentation-title">C-Pharmacy</h1>
                    <div class="m-3 p-2" style="z-index: 999;">
                        <legend style="width: 300px;">Bạn muốn tìm gì?</legend>
                        <div class="" style="position: relative;">
                            <input type="text" class="form-control" [(ngModel)]="search"  placeholder="Nhập tên sản phẩm..." />
                            <button type="button" class="btn-search" [routerLink]="['/search', search]" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
      <div class="section">
          <div class="container">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">Sản phẩm mới</h2>
                <hr>
            </div>
            <app-card-new-product></app-card-new-product>
            <div class="mt-1 d-flex justify-content-center" style="height: 30px;">
                <ngx-spinner bdColor="transparent" size="default" color = "#000" type="square-jelly-box" [fullScreen]="false"></ngx-spinner>
            </div>
          </div>
      </div>
      <div class="section">
        <div class="container">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">Sản phẩm phổ biến</h2>
                <hr>
            </div>
            <app-card-product></app-card-product>
            <div class="mt-2 d-flex justify-content-center" style="height: 50px;">
                <ngx-spinner bdColor="transparent" size="default" color = "#000" type="square-jelly-box" [fullScreen]="false"></ngx-spinner>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                    <div class="icon mr-4 align-self-start">
                    </div>
                    <div class="text">
                        <h2>Free Shipping</h2>
                        <p>
                            Free shipping on orders over 300,000
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon mr-4 align-self-start">
                    </div>
                    <div class="text">
                        <h2>Free exchange</h2>
                        <p>
                            Free exchange and compensation for defective items
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon mr-4 align-self-start">
                    </div>
                    <div class="text">
                        <h2>Customer support</h2>
                        <p>
                            Customer consulting service 24/24
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="section" id="carousel">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">
                      <div class="card page-carousel">
                          <ngb-carousel>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                                  <div class="carousel-caption">
                                      <p>Somewhere</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                  <div class="carousel-caption">
                                      <p>Somewhere else</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                                  <div class="carousel-caption">
                                      <p>Here it is</p>
                                  </div>
                              </ng-template>
                          </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
