<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/joshua-stannard.jpg');">
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="https://www.petcity.vn/media/news/920_cat5_500x462.jpg" alt="Circle Image"
                        class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">{{user.UserName}}<br /></h4>
                </div>
            </div>
            <br />
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Thông tin">
                            <ng-template ngbTabContent>
                                <div class="row following">
                                    <div class="ml-auto mr-auto">
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p style="font-weight:bold">Họ và tên:</p>
                                                    </td>
                                                    <td>
                                                        <p>{{user.FullName}}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p style="font-weight:bold">SĐT:</p>
                                                    </td>
                                                    <td>
                                                        <p>{{user.PhoneNumber}}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p style="font-weight:bold">Địa chỉ:</p>
                                                    </td>
                                                    <td>
                                                        <p>{{user.Address}}</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button class="mb-4" type="button" (click)="showModalDialog()" pButton icon="pi pi-user-edit"
                                            label="Thay đổi thông tin"></button>
                                        <p-dialog header="Thay đổi thông tin" [(visible)]="displayModal" [modal]="true"
                                            [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false"
                                            [resizable]="false">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label"
                                                        for="card-holder-name">Tên</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" name="name"
                                                            [(ngModel)]="temp.FullName" placeholder="Nhập tên mới">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" for="card-holder-name">Địa
                                                        chỉ</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="temp.Address" name="direct"
                                                            placeholder="Nhập địa chỉ">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" for="card-number">
                                                        Số điện thoại
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <input type="tel" class="form-control"
                                                            [(ngModel)]="temp.PhoneNumber" name="phone"
                                                            placeholder="Nhập SĐT của bạn">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="p-3">
                                                        <p class="text-primary">Nhập thông tin mà bạn muốn thay đổi</p>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <p-footer>
                                                <button type="button" (click)="changeProfile()" pButton
                                                    label="Yes"></button>
                                                <button type="button" (click)="displayModal=false" pButton label="No"
                                                    class="ui-button-secondary"></button>
                                            </p-footer>
                                        </p-dialog>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Đơn hàng">
                            <ng-template ngbTabContent>
                                <div class="box-content">
                                    <table *ngIf="orders.length != 0" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã Đơn hàng</th>
                                                <th>Ngày mua</th>
                                                <th>Tổng tiền</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let item of orders">
                                            <tr>
                                                <td class="center" style="padding-top: 20px;">
                                                    <div class="eclipse-text">
                                                        <a
                                                            [routerLink]="['/orderdetail', item.OrderId]">{{item.OrderId}}</a>
                                                    </div>
                                                </td>
                                                <td class="center" style="padding-top: 20px;">
                                                    <a>{{item.OrderDate}}</a>
                                                </td>
                                                <td class="center" style="padding-top: 20px;"><a>{{item.GrandTotal}}</a>
                                                </td>
                                                <td class="center">
                                                    <div *ngIf="item.Status =='P'">
                                                        <a class="btn btn-primary text-white">Đã thanh toán</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="justify-content-center" *ngIf="orders.length == 0">
                                        <h3 class="text-muted">Bạn không có đơn hàng nào :(</h3>
                                        <br>
                                        <button [routerLink]="['/product']" class="btn btn-warning btn-round">Đặt hàng
                                            ngay!</button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <button (click)="authSvc.removeToken()" pInplaceDisplay
                        class="btn btn-outline-danger btn-round">Đăng xuất</button>
                </div>
            </div>
        </div>
    </div>
</div>